*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#username{
    width: 75%;
    height: 40px;
    margin-right: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 20px;
}
#search{
    cursor: pointer;
    width: 100px;
    background-color: rgb(47, 47, 161);
    border: 2px;
    border-radius: 5px;
    transition: background-color 0.2 ease, transform 0.2 ease;
}

#search:hover{
    background-color: blue;
    transform: scale(1.05);
}


#user-info, #user-repos{
    margin: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
}